@import '../controls/Controls.scss';
@import '../button/Button.scss';

.App {
  font-size: 16px;
  text-align: center;
}

.leaflet-container {
  height: 100vh;
  margin: 0 auto;
  z-index: 1;
}

.leaflet-control-container {
  position: absolute;
  right: 43px;
  border: none;
}

.leaflet-top {
  top: 15px;
  width: 40px;
}

.leaflet-touch .leaflet-bar {
  margin: 0 auto;
  position: absolute;
  right: 7px;
  width: 40px;
  background-color: rgba(70,70,70,0.5);
  border-radius: 0;
  height: 85px;
}

.leaflet-control-zoom-in {
  position: absolute;
  top: 10px;
  left: 5px;
}

.leaflet-control-zoom-out {
  position: absolute;
  top: 41px;
  left: 5px;
}

.leaflet-popup-content-wrapper {
  border-radius: 3px !important;
  width: 295px;
}

.shark-data {
  h3 {
    color: #4798d0;
    font-size: 16px;
    text-shadow: -1px 0px 1px rgba(0, 0, 0, 0.2);
  }
  p {
    margin: 10px 0 !important;
  }
  button {
    display: inline-block;
    margin: 5px 10px 5px 0;
    padding: 8px 10px;
    width: 45%;
    background-color: #4798d0;
    border-style: none;
    border-radius: 2px;
    box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.35);
    color: #f8f8f8;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1.1pt;
    span {
      text-shadow: -1px 0px 1px rgba(0, 0, 0, 0.1);
    }
  }
  button:hover {
    background-color: #2e79ac;
  }
}
